.navbar {
	display: inline-flex;
	align-items: center;
	margin-top: 50px;

}

.nav-logo {
	text-decoration: none;
	color: white;
}

.nav-links {
	display: flex;
	/* grid-template-columns: repeat(5, 20%);
	grid-gap: 0px; */
	list-style: none;
	
}

.nav-link {
	text-decoration: none;
	color: black;
	transition: 0.3s all;
	margin: 0;
}

.nav-link:hover {
	color:  #A02279;
}

.nav-icon {
	display: none;
	font-size: 1rem;
	cursor: pointer;
}

.nav-item{
	margin-right: 25px;
}

.loggo{
	margin: 0;
	padding: 0;
}

@media (max-width: 600px) {
	.navbar {
		position: relative;
		margin-left: 13px;
	}

	.nav-links {
		display: flex;
		flex-direction: column;
		position: absolute;
		text-align: right;
		width: 100%;
		top: 35px;
		left: -110%;
		transition: 0.5s all;
		font-size: 0.8rem;
		padding-block: 10px;
		background-color: #DC3E88;
		
	}

	.nav-links.active {
		left: 0;

	}

	.nav-item {
		margin-bottom: 30px;
	}

	.nav-icon {
		display: flex;
		margin-left: 50px;
		font-size: 2.8rem;
	}

	.modal-body{
		font-size: 13px;		
	}

	.modal-content{
		width: 80%;
		margin-top: 50px;
	}

	.modal-title{
		font-size: 1rem;
	}

	.modal-img{
		width: 10%;
		margin: 0;
	}

	.vector{
		width: 20%;
		height: 20%;
	}

	h1{
		font-size: 2rem;
	}

	.btn{
		margin-left: 50px;
		width: 250px;
	}

	.loggo{
		margin-right: 0;
		padding-right: 0;
	}
}

